<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Wordl @ localhost:5080</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href=''>
  <script type="module" crossorigin src="/assets/index-BK6iT-Op.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-BIL0-iTt.css">
</head>
<body>
  {{{body}}}
</body>
</html>