<div class="container d-flex justify-content-center vh-100 mt-3 text-center" style="max-width: 500px;">
  <div>
    <h1>About this project</h1>
    <p>This project has been initiated as an individual school assignment. The
      task is to build a clone of the game Wordle.<br>Do you have any questions?
      Don't hesitate to get in touch.<br>rasmusbaeckstrom(at)gmail.com<br>Have a nice
      day! Best regards, Rasmus.</p>
  </div>