<div class="container d-flex justify-content-center vh-100 mt-3 text-center" style="max-width: 500px;">
  <div>
    <h1>Highscores</h1>
    <p>We apologize, but our database is currently unavailable. Unfortunately,
      we are unable to display highscore results at this time. We are working to
      resolve the issue as soon as possible. We apologize for any inconvenience
      and thank you for your patience.</p>
  </div>
</div>